<div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                            <a href="simple-portfolio.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="{% static 'assets/images/demos/simple-portfolio-740-600.jpg' %}" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Simple Portfolio</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="250">
                            <a href="creative-agency.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/creative-agency-740-600.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Creative Agency</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="50">
                            <a href="freelancer-portfolio.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="{% static 'assets/images/demos/freelancer-portfolio-740-600.jpg' %}" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Freelancer Portfolio</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                            <a href="interactive-links-dark.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="{% static 'assets/images/demos/interactive-dark-740-600.jpg' %}" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Interactive Dark</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="250">
                            <a href="digital-agency.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="{% static 'assets/images/demos/digital-agency-740-600.jpg' %}" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Digital Agency</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="50">
                            <a href="fullscreen-showcase.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/fullscreen-slider-740-362.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Fullscreen Slider</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                            <a href="carousel-light.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/carousel-light-740-362.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Carousel Light</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="250">
                            <a href="carousel-dark.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/carousel-dark-740-362.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Carousel Dark</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="50">
                            <a href="interactive-links-light.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/interactive-light-740-600.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Interactive Light</span>
                                </span>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="500" data-show-distance="20" data-show-delay="150">
                            <a href="left-menu.html" class="card card-demo text-white">
                                <span class="card-img">
                                    <img src="assets/images/demos/left-menu-740-600.jpg" alt="">
                                </span>
                                <span class="card-body">
                                    <span class="card-title h5">Left Menu</span>
                                </span>
                            </a>
                        </div>